@font-face {
    font-family: 'futurabold_italic';
    src: url('fonts/futura_bold_italic-webfont.woff2') format('woff2'),
         url('fonts/futura_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraextra_black_italic';
    src: url('fonts/futura_extra_black_italic-webfont.woff2') format('woff2'),
         url('fonts/futura_extra_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraextra_black';
    src: url('fonts/futura_extra_black-webfont.woff2') format('woff2'),
         url('fonts/futura_extra_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraheavy_italic';
    src: url('fonts/futura_heavy_italic-webfont.woff2') format('woff2'),
         url('fonts/futura_heavy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraheavy';
    src: url('fonts/futura_heavy-webfont.woff2') format('woff2'),
         url('fonts/futura_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurabook_italic';
    src: url('fonts/futura_italic-webfont.woff2') format('woff2'),
         url('fonts/futura_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuralight_italic';
    src: url('fonts/futura_light_italic-webfont.woff2') format('woff2'),
         url('fonts/futura_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuralight';
    src: url('fonts/futura_light-webfont.woff2') format('woff2'),
         url('fonts/futura_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuramedium_italic';
    src: url('fonts/futura_medium_italic-webfont.woff2') format('woff2'),
         url('fonts/futura_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuramedium';
    src: url('fonts/futura_medium-webfont.woff2') format('woff2'),
         url('fonts/futura_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurabook';
    src: url('fonts/futura-webfont.woff2') format('woff2'),
         url('fonts/futura-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary_color_800: #033899;
    --primary_color_50: #E7EAF7;
}

body {
    font-family: 'futurabook', sans-serif;
    font-size: 1.5rem;
    background-color: var(--primary_color_50);
    margin: 0;
}

nav {
    background-color: var(--primary_color_800);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 0;
}

nav ul li {
    margin: 0 2rem;
}

nav ul li a {
    color: var(--primary_color_50);
}

header {
    font-family: 'futuramedium', sans-serif;
    display: grid;
    margin: 2rem 0;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}
  
.header-cell {
    height: 30rem;
    padding: 4rem 7rem;
}

header #hello-text {
    padding-top: 3.5rem;
}

header h1 {
    color: var(--primary_color_800);
    font-family: 'futuraheavy', sans-serif;
    font-size: 4rem;
}

header .role {
    font-family: 'futuraheavy', sans-serif;
    font-size: 2rem;
    margin-bottom: 3rem;
}

header img {
    max-width: 100%;
    max-height: 100%;
}

#headshot {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 50px 0;
    text-align: center;
}

.project {
    margin: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: var(--primary_color_800);
    color: var(--primary_color_50);
    text-align: center;
    padding: 20px 0;
}
