@font-face {
    font-family: 'futurabold_italic';
    src: url('../../fonts/futura_bold_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraextra_black_italic';
    src: url('../../fonts/futura_extra_black_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_extra_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraextra_black';
    src: url('../../fonts/futura_extra_black-webfont.woff2') format('woff2'),
         url('../../fonts/futura_extra_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraheavy_italic';
    src: url('../../fonts/futura_heavy_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_heavy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraheavy';
    src: url('../../fonts/futura_heavy-webfont.woff2') format('woff2'),
         url('../../fonts/futura_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurabook_italic';
    src: url('../../fonts/futura_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuralight_italic';
    src: url('../../fonts/futura_light_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuralight';
    src: url('../../fonts/futura_light-webfont.woff2') format('woff2'),
         url('../../fonts/futura_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuramedium_italic';
    src: url('../../fonts/futura_medium_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuramedium';
    src: url('../../fonts/futura_medium-webfont.woff2') format('woff2'),
         url('../../fonts/futura_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurabook';
    src: url('../../fonts/futura-webfont.woff2') format('woff2'),
         url('../../fonts/futura-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* https://m2.material.io/inline-tools/color/ */

:root {
    --primary_color_50: #e7e9f0;
    --primary_color_100: #c1c8db;
    --primary_color_200: #9aa5c2;
    --primary_color_300: #7482a9;
    --primary_color_400: #576898;
    --primary_color_500: #3a4f88;
    --primary_color_600: #344780;
    --primary_color_700: #2c3e75;
    --primary_color_800: #253568;
    --primary_color_900: #1b2550;
    --secondary_color_50: #efe4ef;
    --secondary_color_100: #d8bcd8;
    --secondary_color_200: #bf91bf;
    --secondary_color_300: #a669a5;
    --secondary_color_400: #934c92;
    --secondary_color_500: #813581;
    --secondary_color_600: #76307b;
    --secondary_color_700: #672a72;
    --secondary_color_800: #582568;
    --secondary_color_800: #3f1d55;
}

body {
    font-family: 'futurabook', sans-serif;
    font-size: 1.25rem;
    background-color: var(--primary_color_50);
    margin: 0;
}

#navbar {
    background-color: var(--primary_color_100);
    height: 4.5rem;
    clear: both;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0em 2px 5px var(--primary_color_200);
}

#logo {
    float: left;
    margin-left: 2rem;
}

.button {
    padding: 1rem 2rem;
    font-size: 1.15rem;
    font-family: 'futuraheavy', sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px var(--primary_color_200);
    background-color: var(--primary_color_50);
    color: var(--primary_color_800);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.button:hover {
    box-shadow: 4px 4px var(--primary_color_800);
    background-color: var(--primary_color_50);
}

#logo.button {
    padding: 0 2rem;
    margin-top: 0.5rem;
    height: 3.35rem;
}

#logo img {
    max-height: 2.75rem;
    pointer-events: none;
    -webkit-touch-callout: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    float: right;
    margin: 0;
}

nav ul li a {
    margin-top: 0.5rem;
    margin-right: 2rem;
}

nav ul li a:visited {
    color: var(--primary_color_800);
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
}

header {
    margin: 9rem 0 0;
}
  
.header-cell {
    height: 25rem;
    margin-top: 5rem;
}

#header-text {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 2rem;
}

#header-text p {
    line-height: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0.21rem;
}

h1 {
    color: var(--primary_color_800);
    font-family: 'futuraheavy', sans-serif;
    font-size: 5rem;
    margin-top: 0;
    padding-top: 0;
}

h2 {
    font-family: 'futuraheavy', sans-serif;
    font-size: 2rem;
    color: var(--primary_color_800)
}

#header-text h2 {
    padding-left: 0.21rem;
}

header .role {
    padding-top: 0.5rem;
    margin-bottom: 3rem;
    color: var(--secondary_color_400);
}

header img, .contact-cell img {
    max-width: 95%;
    max-height: 95%;
    pointer-events: none;
    -webkit-touch-callout: none;
}

#headshot-main {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 4rem;
}

#about h2, #values h2, #skills h2 {
    margin-top: 0;
    padding-top: 7.5rem;
    text-align: center;
}

#about p {
    padding: 0 6rem 2rem;
    line-height: 1.6;
    color: var(--primary_color_900)
}

.center-btn {
    display: flex;
    justify-content: center;
}

#about-btn {
    margin: 0;
    color: var(--primary_color_50);
    background-color: var(--primary_color_800);
    box-shadow: 4px 4px var(--secondary_color_200);
}

#about-btn:hover {
    color: var(--primary_color_800);
    background-color: var(--primary_color_100);
    box-shadow: 4px 4px var(--secondary_color_400);
}

#about-btn:active {
    color: var(--primary_color_800);
    background-color: var(--primary_color_100);
    box-shadow: 4px 4px var(--secondary_color_400);
    transform: translateY(4px);
}

#values blockquote, #values p {
    line-height: 1.6;
    color: var(--primary_color_900)
}

#values blockquote {
    padding: 0 7rem;
    margin: 2rem 2rem 1rem;
    font-size: 1.75rem;
    text-align: center;
}

#blockquote-author {
    margin: 0;
    padding: 0 7rem 2rem;
    font-size: 1.5rem;
    text-align: right;
}

h3 {
    font-family: 'futuraheavy', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    color: var(--secondary_color_400);
}

.value-set {
    padding: 0 8rem 2rem;
    display: grid;
    grid-template-columns: 7.5rem auto;
}

.only-sm {
    display: none;
}

.left {
    grid-column: 1 / 2;
    align-self: start;
    padding-top: 1.85rem;
}

.icon img {
    max-height: 7.5rem;
}

.right {
    grid-column: 2 / 3;
    align-self: center;
}

.value-description h3 {
    text-align: left;
    padding-left: 2rem;
}

.value-description p {
    text-align: left;
    padding-left: 2rem;
}

#skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 6rem 7.5rem;
}

.skill-set {
    text-align: center;
}

.skill-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-set img {
    max-width: 12rem;
    max-height: 12rem;
    pointer-events: none;
    -webkit-touch-callout: none;
}

.skill-description {
    max-width: 12rem;
    display: inline-block;
    margin: 0 auto;
}

.skill-set p {
    line-height: 1.6;
    text-align: left;
    margin: 0;
    color: var(--primary_color_900)
}

.skill-description h3 {
    margin: 2.25rem 0 1.25rem;
}

#contact {
    display: grid;
    grid-template-columns: auto auto;
}

.contact-cell {
    height: 21rem;
    background-color: var(--primary_color_800);
}

#headshot-contact {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 4rem;
}

#contact-text {
    text-align: left;
    padding-left: 5rem;
    padding-top: 1rem;
    height: 20rem;
    color: var(--primary_color_50)
}

#contact-text h2 {
    color: var(--primary_color_50)
}

#contact-text i {
    vertical-align: middle;
}

#contact-text p {
    font-size: 1.5rem;
}

#li-icon {
    font-size: 1.7rem;
}

#contact-no-btn, #contact-no-btn:visited {
    color: var(--primary_color_50);
}

#contact-btn {
    color: var(--primary_color_800);
    background-color: var(--primary_color_50);
    margin-top: 2.5rem;
    max-width: fit-content;
    box-shadow: 4px 4px var(--secondary_color_200);
}

#contact-btn:hover {
    color: var(--primary_color_900);
    background-color: var(--secondary_color_200);
    box-shadow: 4px 4px var(--primary_color_50);
}

#contact-btn:active {
    color: var(--primary_color_900);
    background-color: var(--secondary_color_200);
    box-shadow: 4px 4px var(--primary_color_50);
    transform: translateY(4px);
}

#contact-btn:visited {
    color: var(--primary_color_800);
}

footer {
    background-color: var(--primary_color_50);
    color: var(--primary_color_800);
    text-align: center;
    font-size: 1rem;
}

footer p {
    margin-bottom: 0;
}

#credits {
    margin-top: 0;
    padding: 0.25rem 0 1.25rem;
}

#credits a, #credits a:visited {
    color: var(--primary_color_800);
}

#credits-small-screen {
    display: none;
}
