@font-face {
    font-family: 'futurabold_italic';
    src: url('../../fonts/futura_bold_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraextra_black_italic';
    src: url('../../fonts/futura_extra_black_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_extra_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraextra_black';
    src: url('../../fonts/futura_extra_black-webfont.woff2') format('woff2'),
         url('../../fonts/futura_extra_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraheavy_italic';
    src: url('../../fonts/futura_heavy_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_heavy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraheavy';
    src: url('../../fonts/futura_heavy-webfont.woff2') format('woff2'),
         url('../../fonts/futura_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurabook_italic';
    src: url('../../fonts/futura_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuralight_italic';
    src: url('../../fonts/futura_light_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuralight';
    src: url('../../fonts/futura_light-webfont.woff2') format('woff2'),
         url('../../fonts/futura_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuramedium_italic';
    src: url('../../fonts/futura_medium_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuramedium';
    src: url('../../fonts/futura_medium-webfont.woff2') format('woff2'),
         url('../../fonts/futura_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurabook';
    src: url('../../fonts/futura-webfont.woff2') format('woff2'),
         url('../../fonts/futura-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary_color_50: #e7e9f0;
    --primary_color_100: #c1c8db;
    --primary_color_200: #9aa5c2;
    --primary_color_300: #7482a9;
    --primary_color_400: #576898;
    --primary_color_500: #3a4f88;
    --primary_color_600: #344780;
    --primary_color_700: #2c3e75;
    --primary_color_800: #253568;
    --primary_color_900: #1b2550;
    --secondary_color_50: #efe4ef;
    --secondary_color_100: #d8bcd8;
    --secondary_color_200: #bf91bf;
    --secondary_color_300: #a669a5;
    --secondary_color_400: #934c92;
    --secondary_color_500: #813581;
    --secondary_color_600: #76307b;
    --secondary_color_700: #672a72;
    --secondary_color_800: #582568;
    --secondary_color_800: #3f1d55;
}

body {
    font-family: 'futurabook', sans-serif;
    font-size: 1.5rem;
    background-color: var(--primary_color_50);
    margin: 0;
}

#navbar {
    background-color: var(--primary_color_100);
    height: 4.5rem;
    clear: both;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0em 2px 5px var(--primary_color_200);
}

#logo {
    float: left;
    margin-left: 2rem;
}

#logo button, #logo img {
    max-height: 3.25rem;
    padding: 0 1rem;
    margin-top: 0;
}

#logo button, nav ul li a button {
    box-shadow: 4px 4px var(--primary_color_200);
    margin-top: 0.5rem;
}

#logo button:hover, nav ul li a button:hover {
    background-color: var(--primary_color_50);
    box-shadow: 4px 4px var(--primary_color_800);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    float: right;
    margin: 0;
}

nav ul li a {
    margin-right: 2rem;
}

header, #contact {
    font-family: 'futurabook', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header {
    margin: 7rem 0 3rem;
}
  
.header-cell {
    height: 30rem;
    margin-top: 4rem;
}

#header-text {
    padding-top: 5rem;
    padding-left: 3rem;
    padding-right: 2rem;
}

#header-text p {
    line-height: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0.21rem;
}

h1 {
    color: var(--primary_color_800);
    font-family: 'futuraheavy', sans-serif;
    font-size: 5rem;
    margin-top: 0;
    padding-top: 0;
}

h2 {
    font-family: 'futuraheavy', sans-serif;
    font-size: 2rem;
    color: var(--primary_color_800)
}

#header-text h2 {
    padding-left: 0.21rem;
}

header .role {
    padding-top: 0.5rem;
    margin-bottom: 3rem;
    color: var(--secondary_color_400);
}

header img, .contact-cell img {
    max-width: 95%;
    max-height: 95%;
}

#headshot-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 3rem;
}

#about h2{
    text-align: center;
}

#about p {
    padding: 0 6rem 4rem;
    font-family: 'futuralight', sans-serif;
    font-size: 1.25rem;
}

.contact-cell {
    height: 20rem;
    background-color: var(--primary_color_800);
}

#headshot-contact {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 4rem;
}

#contact-text {
    text-align: left;
    padding-left: 5rem;
    padding-top: 1rem;
    height: 19rem;
    color: var(--primary_color_50)
}

#contact-text h2 {
    color: var(--primary_color_50)
}

#contact-text i {
    vertical-align: middle;
}

#li-icon {
    font-size: 1.7rem;
}

#contact-text a {
    color: var(--primary_color_50);
}

button {
    color: var(--primary_color_800);
    background-color: var(--primary_color_50);
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1.15rem;
    font-family: 'futuraheavy', sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px var(--secondary_color_200);
}

button:hover {
    color: var(--primary_color_900);
    background-color: var(--secondary_color_200);
    box-shadow: 4px 4px var(--primary_color_50);
}

button:active {
    color: var(--primary_color_900);
    background-color: var(--secondary_color_200);
    box-shadow: 4px 4px var(--primary_color_50);
    transform: translateY(4px);
}

footer {
    background-color: var(--primary_color_50);
    color: var(--primary_color_800);
    text-align: center;
    font-size: 1rem;
}
