@font-face {
    font-family: "Biennale";
    src: url("../../fonts/Biennale.otf")format("opentype");
}

@font-face {
    font-family: "Biennale_Bold";
    src: url("../../fonts/Biennale_Bold.otf")format("opentype");
}

/* https://m2.material.io/inline-tools/color/ */

:root {
    --primary_color_50: #e7e9f0;
    --primary_color_100: #c1c8db;
    --primary_color_200: #9aa5c2;
    --primary_color_300: #7482a9;
    --primary_color_400: #576898;
    --primary_color_500: #3a4f88;
    --primary_color_600: #344780;
    --primary_color_700: #2c3e75;
    --primary_color_800: #253568;
    --primary_color_900: #1b2550;
    --secondary_color_50: #efe4ef;
    --secondary_color_100: #d8bcd8;
    --secondary_color_200: #bf91bf;
    --secondary_color_300: #a669a5;
    --secondary_color_400: #934c92;
    --secondary_color_500: #813581;
    --secondary_color_600: #76307b;
    --secondary_color_700: #672a72;
    --secondary_color_800: #582568;
    --secondary_color_800: #3f1d55;
}

body {
    font-family: 'Biennale', sans-serif;
    font-size: 18px;
    background-color: var(--primary_color_50);
    margin: 0;
}

#navbar {
    background-color: var(--primary_color_100);
    height: 4.5rem;
    clear: both;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0em 2px 5px var(--primary_color_200);
}

#logo {
    float: left;
    margin-left: 1.5rem;
}

.button {
    padding: 0.9rem 2rem;
    font-family: 'Biennale_Bold', sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px var(--primary_color_200);
    background-color: var(--primary_color_50);
    color: var(--primary_color_800);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.button:hover {
    box-shadow: 4px 4px var(--primary_color_800);
    background-color: var(--primary_color_50);
}

#logo.button {
    padding: 0 2rem;
    margin-top: 0.5rem;
    height: 3.35rem;
}

#logo img {
    max-height: 2.75rem;
    pointer-events: none;
    -webkit-touch-callout: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    float: right;
    margin: 0;
}

nav ul li a {
    margin-top: 0.5rem;
    margin-right: 1.5rem;
}

nav ul li a:visited {
    color: var(--primary_color_800);
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 10rem 0 0;
}
  
.header-cell {
    height: 25rem;
}

#header-text {
    padding-top: 3rem;
    padding-left: 5rem;
}

#header-text p {
    line-height: 1.6rem;
    padding-bottom: 0;
    padding-left: 0.3rem;
}

h1 {
    color: var(--primary_color_800);
    font-family: 'Biennale_Bold', sans-serif;
    font-size: 96px;
    line-height: 1;
    margin: 0;
    padding-top: 0;
}

h2 {
    font-family: 'Biennale_Bold', sans-serif;
    font-size: 33px;
    color: var(--primary_color_800)
}

#header-text h2 {
    padding-left: 0.21rem;
}

header .role {
    padding-top: 1.5rem;
    margin: 0;
    color: var(--secondary_color_400);
}

header img {
    max-width: 95%;
    max-height: 95%;
    pointer-events: none;
    -webkit-touch-callout: none;
}

#headshot-main {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 5rem;
}

#arrow_down_icon {
    display: flex;
    justify-content: center;
    font-size: 33px;
    z-index: 1;
    color: var(--primary_color_800);
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

#about h2, #values h2, #skills h2 {
    margin-top: 0;
    padding-top: 7.5rem;
    text-align: center;
}

#about p {
    padding: 0 10rem 2rem;
    line-height: 1.6;
    color: var(--primary_color_900)
}

.center-btn {
    display: flex;
    justify-content: center;
}

#about-btn {
    margin: 0;
    color: var(--primary_color_50);
    background-color: var(--primary_color_800);
    box-shadow: 4px 4px var(--secondary_color_200);
}

#about-btn:hover {
    color: var(--primary_color_800);
    background-color: var(--primary_color_100);
    box-shadow: 4px 4px var(--secondary_color_400);
}

#about-btn:active {
    color: var(--primary_color_800);
    background-color: var(--primary_color_100);
    box-shadow: 4px 4px var(--secondary_color_400);
    transform: translateY(4px);
}

#values blockquote, #values p {
    line-height: 1.6;
    color: var(--primary_color_900)
}

#values blockquote {
    padding: 0 10rem;
    margin: 2rem 0 1rem;
    font-size: 21px;
    text-align: center;
}

#blockquote-author {
    margin: 0;
    padding: 0 10rem;
    font-size: 21px;
    text-align: right;
}

h3 {
    font-family: 'Biennale_Bold', sans-serif;
    font-size: 27px;
    text-align: left;
    margin: 0;
    color: var(--secondary_color_400);
}

.value-set {
    padding: 3.75rem 10rem 0;
    display: grid;
    grid-template-columns: 7.5rem auto;
}

.only-sm {
    display: none;
}

.left {
    grid-column: 1 / 2;
    align-items: center;
    display: flex;
}

.left img {
    max-height: 7.5rem;
}

.right {
    grid-column: 2 / 3;
}

.value-description h3 {
    text-align: left;
    padding-left: 2.5rem;
    margin-top: 0.25rem;
}

.value-description p {
    text-align: left;
    padding-left: 2.5rem;
    margin-bottom: 0;
}

#skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 2.5rem 7.5rem;
}

.skill-set {
    text-align: center;
}

.skill-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-set img {
    max-width: 12rem;
    max-height: 12rem;
    pointer-events: none;
    -webkit-touch-callout: none;
}

.skill-description {
    display: inline-block;
}

.skill-set p {
    line-height: 1.6;
    text-align: left;
    padding: 0 2.5rem;
    margin: 0;
    color: var(--primary_color_900)
}

.skill-description h3 {
    margin: 2.25rem 0 1.25rem;
    text-align: center;
}

#contact {
    display: grid;
    grid-template-columns: auto auto;
}

.contact-cell {
    height: 21rem;
    background-color: var(--primary_color_800);
}

#headshot-contact {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 4rem;
}

#headshot-contact img {
    max-height: 80%;
}

#contact-text {
    text-align: left;
    padding-left: 5rem;
    padding-top: 1rem;
    height: 20rem;
    color: var(--primary_color_50);
}

#contact-text h2 {
    color: var(--primary_color_50);
}

#contact-text p {
    margin-bottom: 1.5rem;
}

#contact-no-btn, #contact-no-btn:visited {
    color: var(--primary_color_50);
}

#contact-btn {
    color: var(--primary_color_800);
    background-color: var(--primary_color_50);
    margin-top: 2.5rem;
    max-width: fit-content;
    box-shadow: 4px 4px var(--secondary_color_200);
}

#contact-btn:hover {
    color: var(--primary_color_900);
    background-color: var(--secondary_color_200);
    box-shadow: 4px 4px var(--primary_color_50);
}

#contact-btn:active {
    color: var(--primary_color_900);
    background-color: var(--secondary_color_200);
    box-shadow: 4px 4px var(--primary_color_50);
    transform: translateY(4px);
}

#contact-btn:visited {
    color: var(--primary_color_800);
}

footer {
    background-color: var(--primary_color_50);
    color: var(--primary_color_800);
    text-align: center;
    font-size: 1rem;
}

footer p {
    margin-bottom: 0;
}

#credits {
    margin-top: 0;
    padding: 0.25rem 0 1.25rem;
}

#credits a, #credits a:visited {
    color: var(--primary_color_800);
}

#credits-small-screen {
    display: none;
}
