@font-face {
    font-family: 'futurabold_italic';
    src: url('../../fonts/futura_bold_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraextra_black_italic';
    src: url('../../fonts/futura_extra_black_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_extra_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraextra_black';
    src: url('../../fonts/futura_extra_black-webfont.woff2') format('woff2'),
         url('../../fonts/futura_extra_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraheavy_italic';
    src: url('../../fonts/futura_heavy_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_heavy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraheavy';
    src: url('../../fonts/futura_heavy-webfont.woff2') format('woff2'),
         url('../../fonts/futura_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurabook_italic';
    src: url('../../fonts/futura_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuralight_italic';
    src: url('../../fonts/futura_light_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuralight';
    src: url('../../fonts/futura_light-webfont.woff2') format('woff2'),
         url('../../fonts/futura_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuramedium_italic';
    src: url('../../fonts/futura_medium_italic-webfont.woff2') format('woff2'),
         url('../../fonts/futura_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuramedium';
    src: url('../../fonts/futura_medium-webfont.woff2') format('woff2'),
         url('../../fonts/futura_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurabook';
    src: url('../../fonts/futura-webfont.woff2') format('woff2'),
         url('../../fonts/futura-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* https://m2.material.io/inline-tools/color/ */

:root {
    --primary_color_50: #e7e9f0;
    --primary_color_100: #c1c8db;
    --primary_color_200: #9aa5c2;
    --primary_color_300: #7482a9;
    --primary_color_400: #576898;
    --primary_color_500: #3a4f88;
    --primary_color_600: #344780;
    --primary_color_700: #2c3e75;
    --primary_color_800: #253568;
    --primary_color_900: #1b2550;
    --secondary_color_50: #efe4ef;
    --secondary_color_100: #d8bcd8;
    --secondary_color_200: #bf91bf;
    --secondary_color_300: #a669a5;
    --secondary_color_400: #934c92;
    --secondary_color_500: #813581;
    --secondary_color_600: #76307b;
    --secondary_color_700: #672a72;
    --secondary_color_800: #582568;
    --secondary_color_800: #3f1d55;
}

body {
    font-family: 'futurabook', sans-serif;
    font-size: 1rem;
    background-color: var(--primary_color_50);
    margin: 0;
}

#navbar {
    background-color: var(--primary_color_100);
    height: 4.25rem;
    clear: both;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0em 2px 5px var(--primary_color_200);
}

#logo {
    float: left;
    margin-left: 1rem;
}

button {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: 'futuraheavy', sans-serif;
    border: none;
    border-radius: 10px;
}

#logo button {
    padding: 0 0.75rem;
}

#logo img {
    max-height: 1.75rem;
    display: flex;
    justify-content: center;
}

#logo button, nav ul li a button {
    box-shadow: 4px 4px var(--primary_color_200);
    height: 2.25rem;
    margin-top: 1rem;
    background-color: var(--primary_color_50);
}

nav ul li a button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    color: var(--primary_color_800);
}

#logo button:hover, nav ul li a button:hover {
    background-color: var(--primary_color_50);
    box-shadow: 4px 4px var(--primary_color_800);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    float: right;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'futuraheavy', sans-serif;
    font-size: 1.65rem;
    color: var(--primary_color_800)
}

#about h2 {
    margin-top: 0;
    padding-top: 6.5rem;
    text-align: center;
}

#about p {
    padding: 0 2rem;
    margin-bottom: 0;
    font-family: 'futurabook', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--primary_color_900)
}

.center-btn {
    padding: 7rem 0 3rem;
    display: flex;
    justify-content: center;
}

#cv-btn {
    color: var(--primary_color_50);
    background-color: var(--primary_color_800);
    box-shadow: 4px 4px var(--secondary_color_200);
}

#cv-btn:hover {
    color: var(--primary_color_800);
    background-color: var(--primary_color_100);
    box-shadow: 4px 4px var(--secondary_color_400);
}

#cv-btn:active {
    color: var(--primary_color_800);
    background-color: var(--primary_color_100);
    box-shadow: 4px 4px var(--secondary_color_400);
    transform: translateY(4px);
}

#contact {
    font-family: 'futurabook', sans-serif;
}

.contact-cell {
    background-color: var(--primary_color_800);
}

.contact-cell img {
    max-width: 80%;
    max-height: 80%;
}

#headshot-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 0;
}

#contact-text {
    padding-top: 0.25rem;
    text-align: center;
    height: 17rem;
    color: var(--primary_color_50)
}

#contact-text h2 {
    color: var(--primary_color_50)
}

#contact-text p {
    font-size: 1rem;
}

#contact-text i {
    vertical-align: middle;
}

#li-icon {
    font-size: 1rem;
}

#contact-text a {
    color: var(--primary_color_50);
}

#contact-btn {
    color: var(--primary_color_800);
    background-color: var(--primary_color_50);
    margin-top: 1.5rem;
    box-shadow: 4px 4px var(--secondary_color_200);
}

#contact-btn:hover {
    color: var(--primary_color_900);
    background-color: var(--secondary_color_200);
    box-shadow: 4px 4px var(--primary_color_50);
}

#contact-btn:active {
    color: var(--primary_color_900);
    background-color: var(--secondary_color_200);
    box-shadow: 4px 4px var(--primary_color_50);
    transform: translateY(4px);
}

#buy-coffee-btn {
    margin-bottom: 2rem;
}

footer {
    background-color: var(--primary_color_50);
    color: var(--primary_color_800);
    text-align: center;
    font-size: small;
}
